 <html>
        <head>
            <title>Лизин блог</title>
        </head>
        <body>
            <div>
                <h1><a href="">Смотрите! Лиза сайт сделала</a></h1>
            </div>

            <div>
               
                 <h2><a href="">Мой первый пост</a></h2>
                <p>Правда сама сделала сайт, представляете?</p>
            </div>

            <div>
               
                <h2><a href="">Мой второй пост</a></h2>
                <p>Я думаю стоит еще раз написать, что Я САМА САЙТ СДЕЛАЛА ЗА 7 ЧАСОВ В СУББОТУ</p>
            </div>
        </body>
    </html>